{% extends "base_sidebar.html" %}
{% block title %}Pangia :: Tell us how comfortable you are{% endblock %}

{% block bodyclass %}{% endblock %}
{% block secondary_bar %}
  <section id="secondary_bar">
		<div class="user">
	</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><a href="/"><div class="home"></div></a><div class="breadcrumb_divider"></div> <a class="current">Live Feedback</a></article>
		</div>
	</section><!-- end of secondary bar -->
{% endblock %}
{% block sidebar%}
	<aside id="sidebar" class="column">
    <div id="buttons" ><ul>
        <li><div class="btn_small_pressed">SUBMIT</div></li>
        <li><a href="/live_feedback/view" style="margin: 0;padding:0px"><div class="btn_small">VIEW</div></a></li>
	</ul></div>
    <hr/>
	</aside><!-- end of sidebar -->
{% endblock %}
{% block mainbody %}
	<section id="main" class="column alerts">
		<article class="module width_half">
            <header><h3 class="tabs_involved">TELL US ABOUT YOUR COMFORT LEVEL</h3></header>
            <div class="module_content">
                <form id="live_feedback_form" method="post">
                {% csrf_token %}
                {{ feedbackform.non_field_errors }}

                <fieldset>
                    <label for="id_building">Building (required):</label>
                    {{ feedbackform.building.errors }}
                    {{ feedbackform.building }}

                    <label for="id_floor">Floor (required):</label>
                    {{ feedbackform.floor.errors }}
                    {{ feedbackform.floor }}

                    <label for="id_room">Room (required):</label>
                    {{ feedbackform.room.errors }}
                    {{ feedbackform.room }}
                </fieldset>

                <fieldset>
                    {{ feedbackform.submitter.errors }}
                    <label for="submitter">Submitter:</label>
                    {{ feedbackform.submitter }}
                </fieldset>

                <fieldset id="livefeedback_discomfort">
                    {{ feedbackform.discomformt.errors }}
                    <label for="discomfort">I'm uncomfortable:</label>
                    {{ feedbackform.discomfort }}
                </fieldset>

                <fieldset id="livefeedback_comfort">
                    {{ feedbackform.comformt.errors }}
                    <label for="comfort">I'm comfortable:</label>
                    {{ feedbackform.comfort }}
                </fieldset>

                <fieldset id="livefeedback_priority">
                    {{ feedbackform.priority.errors }}
                    <label for="priority">Priority (1 = LOWEST):</label>
                    {{ feedbackform.priority }}

                    {{ feedbackform.comments.errors }}
                    <label for="comments">Comments:</label>
                    <div>
                    {{ feedbackform.comments }}
                    </div>
                </fieldset>

                </form>
            </div>
        
        <footer>
        <div class="submit_link">
            <input id="live_feedback_clear" type="submit" value="Clear" class="btn">
            <input id="live_feedback_submit" type="submit" value="Submit" class="alt_btn">
        </div>
        </footer>
		</article><!-- end of alert information -->
		<div class="spacer"></div>

        <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/live_feedback_submit.js"></script>
         <link rel="stylesheet" href="{{ MEDIA_URL }}css/live_feedback_submit.css" type="text/css" /> 
	</section>
{% endblock  %}
