{% extends "base_sidebar.html" %}
{% block title %}Pangia :: View how comfortable people are{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/lib/flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/lib/flot/jquery.flot.pie.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/lib/flot/jquery.flot.selection.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/lib/jquery.dataTables.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/live_feedback_view.js"></script>

        <script>
        $(function(){
            //hide the energy explorer divs
            $("#building").fadeOut(0);

            //When user clicks on a cube piece, hide the building div and show the floor div
            //the rest of the behavior is controlled in hideshow.js
            $(".cube_piece").click(function () {
            });
    });
    </script>
{% endblock %}

{% block bodyclass %}{% endblock %}
{% block secondary_bar %}
  <section id="secondary_bar">
		<div class="user">
	</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><a href="/"><div class="home"></div></a><div class="breadcrumb_divider"></div> <a class="current">Live Feedback</a></article>
		</div>
	</section><!-- end of secondary bar -->
{% endblock %}
{% block sidebar%}
{% autoescape on %}
	<aside id="sidebar" class="column">
    <div id="buttons" ><ul>
        <li><a href="/live_feedback/submit" style="margin: 0;padding:0px"><div class="btn_small">SUBMIT</div></a></li>
        <li><div class="btn_small_pressed">VIEW</div></li>
	</ul></div>
    <hr/>
    {% for building in buildings %}
        <h3><span class="buildingname">{{ building }}<span></h3>
        <span class="toggle buildingselector"></span>
    {% endfor %}
	</aside><!-- end of sidebar -->
{% endautoescape %}
{% endblock %}
{% block mainbody %}
{% autoescape on %}
	<section id="main" class="column alerts">
		<div id="alert">
            <h4 class="alert_info" >
            {% for entry in feedback %}
                {{ entry.building }}
            {% endfor %}
            Please select a building to start.</h4>
        </div>
        <div id="building">
        <article class="module width_half" >
            <header><h3 class="tabs_involved">Feedback</h3></header>
            <div class="tab_container" style="max-height: 600px">
			<div id="tab1" class="tab_content">
            <div id="submissionsbody"></div>
			</div><!-- end of #tab1 -->
        </div>
        <footer>
        </footer>
		</article>
		<!--article class="module width_half" >
            <header><h3 class="tabs_involved">Annotated Feedback</h3></header>
            <div class="module_content" style="height: 600px">
                <fieldset>
                    <div class="fleft">
                    <label>Axis 1</label>
                    <select name ="axis1" style="width:155px;">
                        <option value="volvo">kWh</option>
                        <option value="saab">kBTU</option>
                        <option value="fiat">Temperature</option>
                        <option value="audi">Occupancy</option>
                        <option value="saab">HVAC</option>
                        <option value="saab">&nbsp;&nbsp;Heating</option>
                        <option value="saab">&nbsp;&nbsp;Ventilation</option>
                        <option value="saab">&nbsp;&nbsp;AC</option>
                        <option value="saab">Lighting</option>
                        <option value="saab">Plugloads</option>
                        <option value="saab">Data Center</option>
                        <option value="fiat">Water</option>
                        <option value="audi">Oil</option>
                        <option value="fiat">Gas</option>
                        <option value="audi">Steam</option>
                    </select>
                    </div>
                    <div class="fleft">
                        <label>Axis 2</label>
                        <select name class="axis2" style="width:155px;">
                        <option value="volvo">kWh</option>
                        <option value="saab">kBTU</option>
                        <option value="fiat">Temperature</option>
                        <option value="audi">Occupancy</option>
                        <option value="saab">HVAC</option>
                        <option value="saab">&nbsp;&nbsp;Heating</option>
                        <option value="saab">&nbsp;&nbsp;Ventilation</option>
                        <option value="saab">&nbsp;&nbsp;AC</option>
                        <option value="saab">Lighting</option>
                        <option value="saab">Plugloads</option>
                        <option value="saab">Data Center</option>
                        <option value="fiat">Water</option>
                        <option value="audi">Oil</option>
                        <option value="fiat">Gas</option>
                        <option value="audi">Steam</option>
                    </select>
                    </div>
                </fieldset>
                    <div id="flotvisualization" style="width:380px;height:440px;margin:10px;"></div>
                    <br>
                <div class="slider-container slider-percentage">
                    <div class="slider">
                        <span class="left"></span>
                        <span class="guide"><span style="padding-left:100px;">Slide me</span></span>
                        <span class="right"></span>
                    </div>
                    <div class="ruler container" style="min-width:0px;max-width:auto;"> <ul>
                        <li>1 Year</li>
                        <li>3 Months</li>
                        <li>1 Month</li>
                        <li>1 Week</li>
                        <li>1 Day</li>
                    </ul>
                    </div></div>
                    </div>
            <footer>
            </footer>
		</article -->
        </div>
	</section>
    <!-- script src="{{ MEDIA_URL}}js/analytics.js" type="text/javascript"></script -->
{% endautoescape %}
{% endblock  %}
