{% extends "base_sidebar.html" %}
{% block title %}Pangia :: View Alerts{% endblock %}
{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/alert_view.css" type="text/css" /> 
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/alert_view.js"></script>
{% endblock %}


{% block secondary_bar %}
  <section id="secondary_bar">
		<div class="user">
	</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><a href="../index.html"><div class="home"></div></a> <div class="breadcrumb_divider"></div> <a class="current">Alerts</a></article>
		</div>
	</section><!-- end of secondary bar -->
{% endblock %}
{% block sidebar %}
	<aside id="sidebar" class="column">
    <div class="spacer"></div>
    <div class="btn_large_pressed clear">VIEW ALERTS</div>
    <a href="/alerts/set"><div class="btn_large">SET ALERTS</div></a>
    <div class="spacer"></div>
    <hr/>
	</aside><!-- end of sidebar -->
{% endblock %}
{% block mainbody %}
	<section id="main" class="column">
		<article class="module width_full">
		<header><h3 class="tabs_involved">Alerts </h3>
		</header>

		<div class="tab_container">
			<div id="tab1" class="tab_content">
            <div id="alertsbody"></div>
			</div><!-- end of #tab1 -->
		</div><!-- end of .tab_container -->
		<footer></footer>
		</article><!-- end of content manager article -->
		<div class="spacer"></div>
	</section>
{% endblock %}
