{% extends "base_sidebar.html" %}
{% block title %}Pangia :: Set Alerts{% endblock %}

{% block secondary_bar %}
  <section id="secondary_bar">
		<div class="user">
	</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><a href="../index.html"><div class="home"></div></a><div class="breadcrumb_divider"></div> <a class="current">Alerts</a></article>
		</div>
	</section><!-- end of secondary bar -->
{% endblock %}
{% block sidebar%}
	<aside id="sidebar" class="column">
    <div class="spacer"></div>
    <a href="/alerts/view"><div class="btn_large">VIEW ALERTS</div></a>
    <div class="btn_large_pressed">SET ALERTS</div>
    <div class="spacer"></div>
    <hr/>
	</aside><!-- end of sidebar -->
{% endblock %}
{% block mainbody %}
	<section id="main" class="column alerts">
		<article class="module width_half">
            <header><h3 class="tabs_involved">CHOOSE POINT TO MONITOR</h3>
<form class="sub_search" style="float:right; margin-right: -40%">
			<input type="text" value="Search Points" onFocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
		</form>
            </header>
            <div class="module_content">

            </div>
            <footer></footer>
		</article><!-- end of points article-->
        <article style="float:left; width:20%; margin:170px -15px 0px 15px;">
        <div class="module_content">
        	<div class="btn_less"></div>
        	<div class="btn_equal"></div>
        	<div class="btn_larger"></div>
        </div>
		</article><!-- end of buttons -->
        <article class="module width_quarter">
		<header><h3 class="tabs_involved">Alert Options</h3></header>
        	<div class="module_content">		
                <fieldset>
                    <label>Name</label>
                    <input type="text" style="width:85%;">
                </fieldset>
                <fieldset>
                    <label>Threshold</label>
                    <input type="text" style="width:85%;">
                </fieldset>

                <fieldset>
                    <label>Priority (3 = highest)</label>
                    <select style="width:92%;">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
                    </fieldset>
 			</div>       
        <footer>
        <div class="submit_link">
        			<input type="submit" value="Set Alert" class="alt_btn">
        </div>
        </footer>
		</article><!-- end of alert information -->
		<div class="spacer"></div>
	</section>
{% endblock  %}