{% extends "base_sidebar.html" %}

{% block title %}Pangia :: Account Management{% endblock %}
{% block extrahead %}
   {{ block.super }}
{% endblock %}

{% block bodyclass %}{% endblock %}
{% block sidebar %}
<aside id="sidebar" class="column">
    <h3>Sub Management</h3>
</aside><!-- end of sidebar -->
{% endblock %}

{% block mainbody %}
<section id="main" class="column">
    <article class="module width_full">
        <header><h3>Account Management</h3></header>
        <footer></footer>
    </article>
    <div class="spacer"></div>
</section>
{% endblock %}
