{% extends "base_sidebar.html" %}

{% block title %}Pangia :: Analytics{% endblock %}
{% block extrahead %}
   {{ block.super }}
   <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/lib/flot/jquery.flot.js"></script>
   <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/lib/flot/jquery.flot.pie.js"></script>
{% endblock %}

{% block bodyclass %}{% endblock %}
    {% block secondary_bar %}
    <section id="secondary_bar">
 		<div class="user">
					<form class="quick_search">
			<input type="text" value="Quick Search" onFocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
		</form>
	</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><a href="index.html"><div class="home"></div></a><div class="breadcrumb_divider"></div> <a class="current">Analytics</a></article>
		</div>
    </section><!-- end of secondary bar -->
    {% endblock %}
	
	{% block sidebar %}
    <aside id="sidebar" class="column">
    	<h3>Spaces</h3>
        <ul class="toggle">
		<li>Put streams here</li>
		</ul>
       <h3>Systems</h3>
        <ul class="toggle">
		<li>Put streams here</li>
		</ul>
    </aside><!-- end of sidebar -->
	{% endblock %}
	
	{% block mainbody %}
    <section id="main" class="column">
		<article class="module width_full">
			<header><h3>Average Energy Consumption</h3></header>
            <div class="module_content clear" style="height:500px;">
             <div class="graph_placeholder">
                <div id="flotvisualization" style="width: 100%;  height: 490px;clear:both; font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;">

             </div><br><br>

             </div>
                    <div id="button_bar_horizontal">
                    <ul class="menu">
                        <li id="btn_area" class="btn_area"></li>
                        <li id="btn_bar" class="btn_bar"></li>
                        <li id="btn_pie" class="btn_pie"></li>
                    </ul>
                    </div>
                </div>
            </div>
            <footer></footer>
        </article>
		<div class="spacer"></div>
	</section>
	<script src="{{ MEDIA_URL}}js/analytics.js" type="text/javascript"></script>
{% endblock %}
