{% extends "base_sidebar.html" %}

{% block title %}Pangia :: Analytics{% endblock %}
{% block extrahead %}
   {{ block.super }}
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1', {packages: ['annotatedtimeline']});
    function drawVisualization() {
      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', 'Sold Pencils');
      data.addColumn('string', 'title1');
      data.addColumn('string', 'text1');
      data.addColumn('number', 'Sold Pens');
      data.addColumn('string', 'title2');
      data.addColumn('string', 'text2');
      data.addRows(6);
      data.setValue(0, 0, new Date(2008, 1 ,1));
      data.setValue(0, 1, 30000);
      data.setValue(0, 4, 40645);
      data.setValue(1, 0, new Date(2008, 1 ,2));
      data.setValue(1, 1, 14045);
      data.setValue(1, 4, 20374);
      data.setValue(2, 0, new Date(2008, 1 ,3));
      data.setValue(2, 1, 55022);
      data.setValue(2, 4, 50766);
      data.setValue(3, 0, new Date(2008, 1 ,4));
      data.setValue(3, 1, 75284);
      data.setValue(3, 4, 14334);
      data.setValue(3, 5, 'Out of Stock');
      data.setValue(3, 6, 'Ran out of stock on pens at 4pm');
      data.setValue(4, 0, new Date(2008, 1 ,5));
      data.setValue(4, 1, 41476);
      data.setValue(4, 2, 'Bought Pens');
      data.setValue(4, 3, 'Bought 200k pens');
      data.setValue(4, 4, 66467);
      data.setValue(5, 0, new Date(2008, 1 ,6));
      data.setValue(5, 1, 33322);
      data.setValue(5, 4, 39463);

      var annotatedtimeline = new google.visualization.AnnotatedTimeLine(
          document.getElementById('visualization'));
      annotatedtimeline.draw(data, {'displayAnnotations': false, 'displayAnnotationsFilter':true,'displayLegendDots': false, 'displayDateBarSeparator': false,
      'displayRangeSelector':true, 'displayLegendValues':true,'displayZoomButtons':false, 'legendPosition': 'newRow','fill':25, 'wmode':'transparent',
      colors: ['#A9D943', '#F6EE45', '#F24C40','#1286F7','#90B710', '#F68D31', '#B74B0B','#0116ED'],'thickness':3
      });
    }

    google.setOnLoadCallback(drawVisualization);
  </script>
{% endblock %}
{% block bodyclass %}{% endblock %}
    {% block secondary_bar %}
    <section id="secondary_bar">
 		<div class="user">
					<form class="quick_search">
			<input type="text" value="Quick Search" onFocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
		</form>
	</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><a href="index.html"><div class="home"></div></a><div class="breadcrumb_divider"></div> <a class="current"></a></article>
		</div>
    </section><!-- end of secondary bar -->
    {% endblock %}
	
	{% block sidebar %}
    <aside id="sidebar" class="column">
    	<h3>Spaces</h3>
        <ul class="toggle">
		<li>Put streams here</li>
		</ul>
       <h3>Systems</h3>
        <ul class="toggle">
		<li>Put streams here</li>
		</ul>
    </aside><!-- end of sidebar -->
	{% endblock %}
	
	{% block mainbody %}
    <section id="main" class="column">
		<article class="module width_full">
			<header><h3>Average Energy Consumption</h3></header>
            <div class="module_content clear" style="height:500px;">
             <div class="graph_placeholder">
                <div id="visualization" style="width: 100%;  height: 490px;clear:both; border-top: 2px solid #E7E8ED; font:14px; font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;"></div><br><br>

            <!--<div class="slider-container slider-percentage">
            <div class="slider">
                <span class="left"></span>
                <span class="guide"><span style="padding-left:100px;">Slide me</span></span>
                <span class="right"></span>
            </div>
			<div class="ruler container" style="min-width:0px;max-width:auto;"> <ul>
				<li>1 Year</li>
				<li>3 Months</li>
				<li>1 Month</li>
				<li>1 Week</li>
                <li>1 Day</li>
			</ul>
			</div></div>-->
             </div>
                    <div id="button_bar_horizontal">
                    <ul class="menu">
                        <li class="btn_area"><a href="javascript:dashboardChartTypeUpdate(0, 'area')"></a></li>
                        <li class="btn_bar"><a href="javascript:dashboardChartTypeUpdate(0, 'bar')"></a></li>
                        <li class="btn_pie"><a href="javascript:dashboardChartTypeUpdate(0, 'pie')"></a></li>
                    </ul>
                    </div>
                </div>

<!--             <li class="first"><a href="javascript:dashboardDataLoad('Live')" class="active">
                Live
                </li></a>
                <li ><a href="javascript:dashboardDataLoad('Today')">
                Today
                </li></a>
                <li><a href="javascript:dashboardDataLoad('Week')">
                7 days
                </li></a>
                <li><a href="javascript:dashboardDataLoad('Month')">
                30 days
                </li></a>
                <li><a href="javascript:dashboardDataLoad('Year')">
                365 days
                </li></a>-->
            </div>
            <footer></footer>
        </article>
		<div class="spacer"></div>
	</section>
{% endblock %}
