<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
    <title>{% block title %}Pangia :: Welcome{% endblock %}</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/layout.css" type="text/css" media="screen" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    {% block extrastyle %}{% endblock %}
    <script src="{{ MEDIA_URL }}js/jquery-1.6.2.min.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/jquery-ui-1.8.14.custom.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ MEDIA_URL }}js/jquery.equalHeight.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/hideshow.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/slider.js" type="text/javascript"></script>
    {% block extrahead %}{% endblock %}

</head>
<body class="{% block bodyclass %}no_module{% endblock %}">
	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="index.html"><img src="{{ MEDIA_URL }}images/logo.png" alt="logo"></a></h1>
            <h2 class="section_title"></h2>
            <div class="user_bar">
            <ul>
            	<li class="icn_notification_active"><a href="alerts/alerts_view.html">423</a></li>
                <li><span class="icn_profile">&nbsp;&nbsp;Michael Heinrich</span></li>
                <li><b><a href="#">Feedback</a></b></li>
                <li><a href="#"><span class="icn_settings"></span></a></li>
            </ul>
            </div>
		</hgroup>
	</header> <!-- end of header bar -->

    <section id="secondary_bar">
    {% block secondary_bar %}
    {% endblock %}
    </section><!-- end of secondary bar -->

    <aside id="sidebar" class="column">
    {% block sidebar %}
    {% endblock %}
    </aside><!-- end of sidebar -->

    {% block mainbody %}
    {% endblock %}
</body>
</html>