{% extends "base_sidebar.html" %}
{% block title %}Pangia :: Dashboard{% endblock %}
{% block extrahead %}
    {{ block.super }}
	<script src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Building');
        data.addColumn('number', 'kWH');
        data.addRows(4);
        data.setValue(0, 0, 'Surtaja Dai Hall');
        data.setValue(0, 1, 1000);
        data.setValue(1, 0, 'Soda Hall');
        data.setValue(1, 1, 1170);
        data.setValue(2, 0, 'Cory Hall');
        data.setValue(2, 1, 660);
        data.setValue(3, 0, 'Evans');
        data.setValue(3, 1, 1030);

        var chart_r1c1 = new google.visualization.ColumnChart(document.getElementById('chart_r1c1'));
        var chart_r1c2 = new google.visualization.ColumnChart(document.getElementById('chart_r1c2'));
        var chart_r1c3 = new google.visualization.ColumnChart(document.getElementById('chart_r1c3'));
        var chart_r2c1 = new google.visualization.ColumnChart(document.getElementById('chart_r2c1'));
        var chart_r2c2 = new google.visualization.ColumnChart(document.getElementById('chart_r2c2'));
        var chart_r2c3 = new google.visualization.ColumnChart(document.getElementById('chart_r2c3'));
        var options = {'height':220,
                        'chartArea': {width: 300, height: 140}, 'legend':'none',
                       'fontName':'Lucida Sans Unicode',
                        'vAxis' : {'textPosition':'none','gridlineColor':'#FFF'},
                        'hAxis' : {'slantedText':true},
                        'colors':['#8C8C9B'],
                        };
        var options2 = {'height':220,
                              'chartArea': {width: 150, height: 140}, 'legend':'none',
                             'fontName':'Lucida Sans Unicode',
                              'vAxis' : {'textPosition':'none','gridlineColor':'#FFF'},
                              'hAxis' : {'slantedText':true},
                              'colors':['#8C8C9B'],
                              };

      chart_r1c1.draw(data, options);
      chart_r1c2.draw(data, options);
      chart_r1c3.draw(data, options2);
      chart_r2c1.draw(data, options);
      chart_r2c2.draw(data, options);
      chart_r2c3.draw(data, options2);

      }
    </script>
<style>
html,body {overflow-y:auto; overflow-x:hidden}
.no_module {min-width:1220px; }
section {width:100%;}
</style>
{% endblock %}
{% block bodyclass %}no_module{% endblock %}

{% block sidebar %}
    <aside class="width_10">
        <div class="dashboard_segment" ><h3>Building<br>Comparison</h3></div>
        <div class="dashboard_segment_bottom"><h3>Portfolio<br>Metrics</h3></div>
    </aside>
{% endblock %}

{% block mainbody %}
	<section id="main" class="width_full" style="float:left;margin-left:0px;">
		<div class="spacer">&nbsp;</div><div class="spacer">&nbsp;</div>
        <article class="slider-container slider-percentage"> 
            <div class="slider"> 
                <span class="left"></span> 
                <span class="guide"><span style="padding-left:100px;">Slide me</span></span> 
                <span class="right"></span> 
            </div> 
			<div class="ruler container" style="min-width:0px;max-width:auto;"> <ul> 
				<li>1 Year</li> 
				<li>3 Months</li> 
				<li>1 Month</li> 
				<li>1 Week</li>
                <li>1 Day</li> </ul> 
			</div>
            </article>
            <div class="spacer">&nbsp;</div><div class="spacer">&nbsp;</div>
      			<article class="module width_40" style="margin-left:0px; height:240px" >
                      <div class="title">$ / FEET2</div>
                      <div id="chart_r1c1"></div>
                  </article>
                <article class="module width_40" style="height:240px;">
                    <div class="title">kBTU / FEET2 / HDD </div>
                    <div id="chart_r1c2"></div>
                </article>
                <article class="module width_20" style="height:240px">
                    <div class="title">ENERGY STAR</div>
                    <div id="chart_r1c3"></div>
				</article>
                <article class="module width_40" style="margin-left:0px; height:240px">
                    <div class="title" style="">CO2 (TONS)</div>
                    <div id="chart_r2c1"></div>
				</article>
                <article class="module width_40" style="height:240px">
                    <div class="title">kBTU / SYSTEM / FEET2</div>
                    <div id="chart_r2c2"></div>
				</article>
                <article class="module width_20" style="height:240px">
                    <div class="title">LEED</div>
                    <div id="chart_r2c3"></div>
				</article>
            <br class="clear"><br>
        <div class="spacer">&nbsp;</div><div class="spacer">&nbsp;</div>
        <article>
        <div class="tab_container">
			<div id="tab1" class="tab_content">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
                    <th>Metric</th> 
    				<th>Value</th> 
    				<th>/ FEET2</th> 
    				<th>/ WEATHER</th> 
    				<th>/ OCCUPANCY</th> 
    				<th>COSTS</th> 
    				<th>/ FEET2</th> 
                    <th></th> 
				</tr> 
			</thead> 
			<tbody> 
				<tr >
                    <td valign="middle"><div class="icn_electricity"></div>Electricity</td> 
    				<td>21,529,612 kWH</td> 
    				<td>73.2 kBTU / ft2</td> 
    				<td>8 kBTU / ft2 / HDD</td> 
    				<td> </td>
                    <td>$1,000,000</td>
                    <td align="center">$ 7.10</td>  
    				<td></td> 
				</tr> 
				<tr> 
    				<td ><div class="icn_gas"></div>Gas</td> 
    				<td >21,529,612 kWH</td> 
    				<td>73.2 kBTU / ft2</td> 
    				<td>8 kBTU / ft2 / HDD</td> 
    				<td> </td>
                    <td>$1,000,000</td>
                    <td align="center">$ 7.10</td>  
    				<td></td> 
				</tr>
				<tr> 
    				<td><div class="icn_oil"></div>Oil</td> 
    				<td >21,529,612 kWH</td> 
    				<td>73.2 kBTU / ft2</td> 
    				<td>8 kBTU / ft2 / HDD</td> 
    				<td> </td>
                    <td>$1,000,000</td>
                    <td align="center">$ 7.10</td>  
    				<td></td> 
				</tr> 
								<tr> 
    				<td><div class="icn_steam"></div>Steam</td> 
    				<td >21,529,612 kWH</td> 
    				<td>73.2 kBTU / ft2</td> 
    				<td>8 kBTU / ft2 / HDD</td> 
    				<td> </td>
                    <td>$1,000,000</td>
                    <td align="center">$ 7.10</td>  
    				<td></td> 
				</tr> 
                				<tr> 
    				<td><div class="icn_water"></div>Water</td> 
    				<td >21,529,612 kWH</td> 
    				<td>73.2 kBTU / ft2</td> 
    				<td>8 kBTU / ft2 / HDD</td> 
    				<td> </td>
                    <td>$1,000,000</td>
                    <td align="center">$ 7.10</td>  
    				<td></td> 
				</tr> 
                <tr> 
    				<td><div class="icn_co2"></div>CO2	</td> 
    				<td >21,529,612 kWH</td> 
    				<td>73.2 kBTU / ft2</td> 
    				<td>8 kBTU / ft2 / HDD</td> 
    				<td> </td>
                    <td>$1,000,000</td>
                    <td align="center">$ 7.10</td>  
    				<td></td> 
				</tr> 
                <tr bgcolor="#f2f2f2"> 
    				<td>Total Fuel & Other</td> 
    				<td >21,529,612 kWH</td> 
    				<td>73.2 kBTU / ft2</td> 
    				<td>8 kBTU / ft2 / HDD</td> 
    				<td> </td>
                    <td>$1,000,000</td>
                    <td align="center">$ 7.10</td>  
    				<td></td> 
				</tr> 
                <tr bgcolor="#f2f2f2"> 
    				<td>Total Energy</td> 
    				<td >21,529,612 kWH</td> 
    				<td>73.2 kBTU / ft2</td> 
    				<td>8 kBTU / ft2 / HDD</td> 
    				<td> </td>
                    <td>$1,000,000</td>
                    <td align="center">$ 7.10</td>  
    				<td></td> 
				</tr>                 
			</tbody> 
			</table>
			</div><!-- end of #tab1 -->
		</div><!-- end of .tab_container -->
        </article>
        <div class="spacer">&nbsp;</div><div class="spacer">&nbsp;</div>
	</section>
	{% endblock %}