{% extends "base.html" %}
{% block title %}Pangia :: Please select your application {% endblock %}

{% block bodyclass %}no_module{% endblock %}

{% block mainbody %}
	<section id="main" class="column">
	<div class="spacer">&nbsp;</div><div class="spacer">&nbsp;</div>
	<div class="spacer">&nbsp;</div><div class="spacer">&nbsp;</div>
    	<div class ="index_text">
            <a href="dashboard.html"><div class="app_dashboard"><h2>Dashboard</h2></div></a>
            <a href="energy_explorer.html"><div class="app_energy_explorer"><h2>Energy Explorer</h2></div></a>
            <a href="/alerts/view"><div class="app_alerts"><h2>Alerts</h2></div></a>
        </div>
        <div class="shelf clear"></div>
		<div class ="index_text">
            <a href="analytics.html"><div class="app_analytics"> <h2>Analytics</h2></div></a>
            <a href="/live_feedback/submit"><div class="app_live_feedback"><h2>Live Feedback</h2></div></a>
            <div class="app_realtime"><h2>Realtime</h2></div>
        </div>
        <div class="shelf"></div>
        
	</section>
{% endblock %}