{% extends "base_sidebar.html" %}

{% block title %}Pangia :: Energy Explorer{% endblock %}
{% block extrahead %}
    {{ block.super }}
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/lib/flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/lib/flot/jquery.flot.pie.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/lib/flot/jquery.flot.selection.js"></script>
    <script>
        $(function(){
            //hide the energy explorer divs
            //$('.column').equalHeight();
            $("#building").hide(0);
            $("#floor").hide(0);

            //When user clicks on a cube piece, hide the building div and show the floor div
            //the rest of the behavior is controlled in hideshow.js
            $(".cube_piece").click(function () {
                $("#building").fadeOut(350, 'swing', function(){
                $("#floor").fadeIn(350);
                        }
                );
            });


    });

    </script>
    <script>
        $(function () {
            var data = [];
            var series = Math.floor(Math.random()*10)+1;
            for( var i = 0; i<5; i++)
            {
                data[i] = { label: "Floor "+(i+1), data: Math.floor(Math.random()*100)+1 }
            }

            // DEFAULT

                    $.plot($("#pie"), data,
                        {
                            series: {
                                pie: {
                                    show: true,
                                    radius: 1,
                                    label: {
                                        show: true,
                                        radius: 3/4,
                                        formatter: function(label, series){
                                            return '<div style="background-color:#1f1f1f;font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                                        }
                                    }
                                }, color:"#CCC"
                            },
                            legend: {
                                show: false
                            }
                        });

                  var d1 = [];
    for (var i = 0; i < 14; i += 0.5)
        d1.push([i, Math.sin(i)]);

    $.plot($("#area"), [ d1 ]);
            
        });

    </script>
{% endblock %}
{% block secondary_bar %}
  <section id="secondary_bar">
		<div class="user">
					<form class="quick_search">
			<input type="text" value="Quick Search" onFocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
		</form>
	</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><a href="../index.html"><div class="home"></div></a><div class="breadcrumb_divider"></div> <a class="current">Energy Explorer</a></article>
		</div>
	</section><!-- end of secondary bar -->
{% endblock %}
{% block sidebar %}
	<aside id="sidebar" class="column">
	<div id="buttons" ><ul>
        <li><div class="btn_small_pressed">SPACES</div></li>
        <li><a href="/energy_explorer/systems" style="margin: 0;padding:0px"><div class="btn_small">SYSTEMS</div></a></li>
	</ul></div>
    <div class="clear">
    <hr/></div>
		<h3>Surtadja Dai Hall</h3>
        <ul class="toggle">
            <div class="cube_piece" style="z-index:50"><span><br><br><br>Floor 5</span></div>
        	<div class="cube_piece" style="z-index:40"><span><br><br><br>Floor 4</span></div>
        	<div class="cube_piece" style="z-index:30"><span><br><br><br>Floor 3</span></div>
        	<div class="cube_piece" style="z-index:20"><span><br><br><br>Floor 2</span></div>
        	<div class="cube_piece" style="z-index:10"><span><br><br><br>Floor 1</span></div>
           	<div class="cube_shadow" style="z-index:1"></div>                                                
<!--			<li class="icn_new_article"><a href="#">New Article</a></li>
			<li class="icn_edit_article"><a href="#">Edit Articles</a></li>
			<li class="icn_categories"><a href="#">Categories</a></li>
			<li class="icn_tags"><a href="#">Tags</a></li>-->
		</ul>
				
	</aside><!-- end of sidebar -->
{% endblock %}

{% block mainbody %}


    <section id="main" class="column" >
		<div id="alert">
            <h4 class="alert_info" >Please, select a building to start.</h4>
        </div>
        <div id="building">
        <article class="module width_3_quarter">
			<header><h3>Building information</h3></header>
            <div class="module_content clear stats" style="height:590px;">
                <fieldset >
                    <table cellpadding="0px" width="100%" >
                        <tr>
                            <td width="25%">
                                <h3>General</h3>
                            </td>
                            <td width="25%">
                                <h3>Energy</h3>
                            </td>
                            <td width="25%">
                                <h3>Emissions</h3>
                            </td>
                            <td width="25%">
                                <h3>Weather</h3>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                <p class="count">200K</p>
                                <p class="type">SQUARE FEET</p>
                            </td>
                            <td width="25%">
                               <p class="count">75</p>
                                <p class="type">Energy Star</p>
                            </td>
                            <td width="25%">
                               <p class="count">6.5t</p>
                                <p class="type">Carbon</p>
                            </td>
                            <td width="25%">
                                <p class="count">95°</p>
                                <p class="type">Fahrenheit</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="25%">
                                <p class="count">2,300</p>
                                <p class="type">Max occupancy</p>
                            </td>
                            <td width="25%">
                                <p class="count">1,200</p>
                                <p class="type">Avg Daily KWH</p>
                            </td>
                            <td width="25%">
                                <p class="count">18.47</p>
                                <p class="type">LBS / FT2</p>
                            </td>
                            <td width="25%" rowspan="2">
                                <img src="{{ MEDIA_URL }}images/buildings/leed.png" style="position:relative; padding: 10px 0px 10px 0px;" align="middle">
                                 <p class="type" style="padding-left:22px;">GOLD</p>
                            </td>
                        </tr>

                        <tr>
                            <td width="25%">
                                <p class="count">29</p>
                                <p class="type">Rooms</p>
                            </td>
                            <td width="25%">
                                <p class="count">67</p>
                                <p class="type">KBTU / FT2</p>
                            </td>
                            <td width="25%" rowspan="2">
                                <p class="count"></p>
                                <p class="type"></p>
                            </td>

                        </tr>
                    </table>
                </fieldset>
                <div id="area" style="float:left;height:240px;width:280px;"></div>
                <div id="pie" style="float:left;height:240px;width:280px;"></div>
                <br>
                <div style="margin-top:260px;">
            <div class="slider-container slider-percentage">
            <div class="slider">
                <span class="left"></span>
                <span class="guide"><span style="padding-left:100px;">Slide me</span></span>
                <span class="right"></span>
            </div>
			<div class="ruler container" style="min-width:0px;max-width:auto;"> <ul>
				<li>1 Year</li>
				<li>3 Months</li>
				<li>1 Month</li>
				<li>1 Week</li>
                <li>1 Day</li>
			</ul>
			</div></div>
            </div>
            </div>
            <footer></footer>
        </article>
		<article class="module width_quarter">
            <header><h3 class="tabs_involved">Picture</h3></header><center>
            <img src="{{ MEDIA_URL }}images/buildings/sdh.png" style="position:relative; padding: 10px 0px 10px 0px; width:100%; height:auto;" align="middle">
		</center></article >
        <article class="module width_quarter">
            <header><h3 class="tabs_involved">Location</h3></header>
            <iframe width="100%" height="329" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=sutardja+dai+hall,+berkeley+ca&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=51.089971,100.898438&amp;ie=UTF8&amp;hq=&amp;hnear=Sutardja+Dai+Hall,+Berkeley,+California+94709&amp;z=14&amp;ll=37.874914,-122.25821&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=sutardja+dai+hall,+berkeley+ca&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=51.089971,100.898438&amp;ie=UTF8&amp;hq=&amp;hnear=Sutardja+Dai+Hall,+Berkeley,+California+94709&amp;z=14&amp;ll=37.874914,-122.25821" style="color:#0000FF;text-align:left">View Larger Map</a></small>
		<footer></footer>
        </article >
        </div>
        <div id="floor">
        <article class="module width_full" >
			<header><h3>Floor information</h3></header>
            <div class="module_content clear" style="height:500px;">
            	<div class="graph_placeholder">
                 <div id="flotvisualization" style="width: 100%;  height: 410px;clear:both; font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;">
                     </div><br><br>
            <div class="slider-container slider-percentage">
            <div class="slider">
                <span class="left"></span>
                <span class="guide"><span style="padding-left:100px;">Slide me</span></span>
                <span class="right"></span>
            </div>
			<div class="ruler container" style="min-width:0px;max-width:auto;"> <ul>
				<li>1 Year</li>
				<li>3 Months</li>
				<li>1 Month</li>
				<li>1 Week</li>
                <li>1 Day</li>
			</ul>
			</div></div>
            </div>
            <div id="button_bar_horizontal">
                    <ul class="menu">
                        <li id="btn_area" class="btn_area"></li>
                        <li id="btn_bar" class="btn_bar"></li>
                        <li id="btn_pie" class="btn_pie"></li>
                    </ul>
            </div>

            </div>
            <footer></footer>
        </article>
        </div><!--end floor -->
        <div class="spacer"></div>
	</section>
<script src="{{ MEDIA_URL}}js/analytics.js" type="text/javascript"></script>

{% endblock %}